* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("background.png");
  background-position: center;
  background-attachment: fixed;
}

html {
  width: 100%;
  height: 100%;
}

.page {
  display: flex;
  width: 100%;
  height: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.box .header {
  display: flex;
  flex: 0 1 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  font-size: 3rem;
  font-weight: bolder;
}

.header h1 {
  text-shadow: 0px 5px 5px black;
  color: black;
  margin-top: 50px;
}

.navigationBar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#menuButton {
  width: 200px;
  background-color: black;
  color: rgb(215, 215, 215);
  height: 100px;
  font-size: 3rem;
}

#menuButton:hover {
  color: white;
}

.navbutton {
  color: white;
  height: 80px;
  width: 100%;
  background-color: black;
  font-weight: 400;
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.navigationBar ul {
  display: flex;
  flex-direction: column;
  opacity: 0;
  flex: 1 1 100%;
  transition-duration: 1s;
  pointer-events: none;
  list-style-type: none;
  font-size: 2rem;
  text-align: center;
}

.navigationBar ul li {
  background-color: black;
}

.navigationBar ul li a {
  text-decoration: none;
  color: rgb(215, 215, 215);
  width: 100%;
  background-color: black;
  font-weight: 400;
  font-size: 1.5rem;
}

.navigationBar ul li a:hover {
  color: white;
}

.box .content {
  width: 100%;
  flex: 1 1 100%;
}

.taskBox,
.doneTasks {
  width: 30%;
  background-color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  box-shadow: 0px 5px 10px, 0px 10px 30px;
}

#taskList,
#doneTaskList {
  background-color: white;
  box-shadow: 0px 5px 10px, 0px 10px 30px;
}

.doneTasks li {
  border-right: 3px solid #049f23;
  border-bottom: 3px solid #049f23;
  border-left: 3px solid #049f23;
}

.doneTasks li:first-child {
  border-top: 3px solid #049f23;
}

input[type="text"] {
  width: 80%;
  height: 50px;
  padding: 0px 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.25rem;
  border: none;
  outline: none;
}

.button {
  color: white;
  min-height: 50px;
  width: 20%;
  font-weight: 900;
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="button"]#addButton {
  background-color: #005ef5;
  transition-duration: 0.5s;
}

input[type="button"]#addButton:hover {
  background-color: #0046b8;
  transition-duration: 0.5s;
}

input[type="button"].done {
  background-color: #049f23;
  transition-duration: 0.5s;
}

input[type="button"].done:hover {
  background-color: #04771b;
  transition-duration: 0.5s;
}

.taskBox ul,
.doneTasks ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.taskBox li {
  display: flex;
  justify-content: flex-end;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.taskBox li p,
.doneTasks li p {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
  width: 80%;
  min-height: 50px;
  word-break: break-all;
}

.taskBox ul:last-child,
.doneTasks ul:last-child {
  margin-bottom: 100px;
}

.footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  flex: 0 1;
  color: white;
  background-color: black;
  justify-content: flex-end;
  align-items: center;
}

.footer h1 span {
  font-size: 1rem;
}
.footer h1 {
  margin-right: 30px;
  font-size: 2.5rem;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d7d7d7;
  box-shadow: inset 0 0 6px rgba(215, 215, 215, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #d7d7d7;
}

@media screen and (max-width: 1200px) {
  .taskBox {
    width: 80%;
  }
  .header h1 {
    font-size: 10rem;
  }
  .button {
    height: 100px;
    font-size: 2rem;
  }
  input[type="text"] {
    font-size: 1.5rem;
  }
  .taskbox li {
    height: 100px;
    font-size: 1.5rem;
  }
}
